@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Work+Sans:wght@300&display=swap');

body {
  background-color: #17a2ff;
  font-family: 'Poppins', sans-serif;
}

#demo {
  margin: auto;
  border: 1px solid black;
  overflow-y: scroll;
  min-height: min-content;
  border-radius: 8px;
  max-height: 450px;
}

h1 {
  text-align: center;
}

#flex-container {
  padding: 2rem;
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: start;
  margin: 2rem auto;
  gap: 40px;
}

.item {
  padding: 0.5rem;
  border: 1px solid white;
  border-radius: 8px;
  background-color: white;
  box-shadow: 3px 3px 7px;
  text-align: center;
  font-size: 1.2rem;
}

#control-center {
  max-height: 35%;
  overflow: scroll;
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 1vh;
  text-align: center;
  width: 50%;
  padding: 0.5rem 1.5rem;
  margin-top: 4rem;
  border: 1px solid black;
  border-radius: 8px;
}

#control-center h1 {
  margin-top: 0;
  margin-bottom: 0;
}

#cc-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#cc-flex button {
  margin: 0.5rem;
  background-color: white;
  padding: 0.5rem;
  border: 1px solid white;
  border-radius: 8px;
  font-size: large;
}

#cc-flex button:active {
  border: 1px solid black;
}

#cc-data {
  text-align: center;
  width: fit-content;
  margin: 1rem auto 0 auto;
  font-size: 1.3rem;
}